<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.errorgonize.qna.store.QnaStore">
    <insert id="createQ" parameterType="io.errorgonize.qna.entity.Qna">
        insert into question (category, writer, question_title, question_content, writer_id)
            values (#{category}, #{writerQ}, #{question_title}, #{question_content}, #{writer_idQ})
    </insert>

    <insert id="createA" parameterType="io.errorgonize.qna.entity.Qna">
        insert into answer (question_no, answer_content, writer_id, writer)
            values (#{question_no}, #{answer_content}, #{writer_idA}, #{writer})
    </insert>

    <select id="getQnaId" resultType="java.lang.Integer">
        select LAST_INSERT_ID()
    </select>

    <update id="updateQ" parameterType="io.errorgonize.qna.entity.Qna">
        update question
        set
            moddate=NOW(),
            category=#{category},
            question_title=#{question_title},
            question_content=#{question_content},
            curious=#{curious},
            view_cnt=#{view_cnt}
        where
            question_no=#{question_no}
    </update>

    <update id="updateA" parameterType="io.errorgonize.qna.entity.Qna">
        update answer
        set
            moddate=NOW(),
            answer_content=#{answer_content},
            clap=#{clap}
        where
            question_no=#{question_no}
    </update>

    <delete id="deleteQ">
        delete from question, answer where question_no=#{question_no}
    </delete>

    <delete id="deleteA">
        delete from answer where question_no=#{question_no} AND answer_no=#{answer_no}
    </delete>

    <select id="retrieve" resultType="io.errorgonize.qna.entity.Qna">
        select question.*, answer.* from question inner join answer
            on question.question_no = answer.question_no
        select * from question where question_no=#{question_no}
    </select>

    <select id="retrieveAll" resultType="io.errorgonize.qna.entity.Qna">
        select question.*, answer.* from question inner join answer
            on question.question_no = answer.question_no
        select * from question
    </select>
</mapper>